/* =========================
TEMA GLOBAL RF DRIVER
========================= */

body{
background:#0a0a0a;
color:#ffffff;
transition:background .25s,color .25s;
}

/* =========================
TEMA CLARO
========================= */

body[data-theme="light"]{
background:#f3f3f3;
color:#000;
}

/* CARDS */

body[data-theme="light"] .card{
background:#ffffff;
color:#000;
border:1px solid rgba(0,0,0,.08);
}

/* MENU */

body[data-theme="light"] .menu{
background:#ffffff;
color:#000;
}

body[data-theme="light"] .menu-item{
border-bottom:1px solid rgba(0,0,0,.08);
}

/* MODAIS */

body[data-theme="light"] .modal{
background:rgba(0,0,0,.35);
}

body[data-theme="light"] .modal-content{
background:#ffffff;
color:#000;
border:1px solid rgba(0,0,0,.1);
}

body[data-theme="light"] .rf-modal{
background:rgba(0,0,0,.35);
}

body[data-theme="light"] .rf-modal-content{
background:#ffffff;
color:#000;
}

/* INPUTS */

body[data-theme="light"] .modal-content input{
background:#f2f2f2;
color:#000;
border:1px solid rgba(0,0,0,.1);
}

/* LISTA */

body[data-theme="light"] .lista div:hover{
background:#f2f2f2;
}