body{
background:radial-gradient(circle at top,#1f1f1f 0%,#0a0a0a 55%,#000 100%);
color:#fff;
height:100vh;
overflow:hidden;
}

/* TEMA CLARO */

body[data-theme="light"]{
background:#f3f3f3;
color:#000;
}

body[data-theme="light"] .card{
background:#ffffff;
}

body[data-theme="light"] .menu{
background:#ffffff;
color:#000;
}

body[data-theme="light"] .menu-item{
border-bottom:1px solid rgba(0,0,0,.08);
}

body[data-theme="light"] .modal{
background:rgba(0,0,0,.35);
}

body[data-theme="light"] .modal-content{
background:#ffffff;
color:#000;
border:1px solid rgba(0,0,0,.1);
}

body[data-theme="light"] .modal-content input{
background:#f2f2f2;
color:#000;
border:1px solid rgba(0,0,0,.1);
}

body[data-theme="light"] .lista div:hover{
background:#f2f2f2;
}

body[data-theme="light"] .rf-modal{
background:rgba(0,0,0,.35);
}

body[data-theme="light"] .rf-modal-content{
background:#ffffff;
color:#000;
}

body[data-theme="light"] .rf-option{
border-bottom:1px solid rgba(0,0,0,.08);
}

body[data-theme="light"] .rf-option:hover{
background:#f2f2f2;
}